<!DOCTYPE html>
<html>

<body>
  {% extends "template.html" %}
  {% block content %}

  <!-- First Parallax Image with Button -->
  <div class="bgimg-1 display-container opacity-min" id="home">
    <div class="display-middle" style="white-space:nowrap;">
      <a href="{{ url_for('image_classifier.show') }}" class="button center padding-large black xlarge wide animate-opacity hide-small">
        <span>TRY IMAGE-CLASSIFIER</span> 
      </a>
      <a href="{{ url_for('image_classifier.show') }}" class="button center padding-small black xlarge wide animate-opacity hide-medium hide-large">
        <span>IMAGE-CLASSIFIER</span> 
      </a>
    </div>
  </div>

  <!-- Container (About Section) -->
  <div class="content container padding-64" id="about">
    <h3 class="center">ABOUT ME</h3>
    <p class="center"><em>I love programming</em></p>
    <p></p>
    <div class="row">
      <div class="col m6 center padding-large">
        <p><b><i class="fa fa-user margin-right"></i>Christian Unterrainer</b></p><br>
        <img src="/static/images/me.jpg" class="round image" alt="Photo of Me" width="200">
      </div>

      <div class="col m6 padding-large">
          <p>I started out as software developer graduating from HTL Wiener Neustadt, mostly working with C# and Python.</p>
          <p>Over time I have gained experience in agile development, clean code guidelines and tools that help me 
          to keep projects simple (eg. git, virtualenv, unit-testing, docker).</p>
          <p>In the last year I spent a lot of time working on machine-learning tasks, more specifically computer vision
          using PyTorch and fast.ai combined with more data focused libraries like pandas, and numpy in Python.</p>
      </div>
    </div>
    <p class="large center padding-16">Im really good at:</p>
    <p class="wide"><i class="fa fa-laptop"></i>Software Development</p>
    <div   class="light-grey">
      <div class="container padding-small dark-grey center" style="width:70%">70%</div>
    </div>
    <p class="wide"><i class="fa fa-tasks"></i>Web Development</p>
    <div class="light-grey">
      <div class="container padding-small dark-grey center" style="width:55%">55%</div>
    </div>
    <p class="wide"><i class="fa fa-flask"></i>Data Science</p>
    <div class="light-grey">
      <div class="container padding-small dark-grey center" style="width:75%">75%</div>
    </div>
  </div>

  <!-- Second Parallax Image with Portfolio Text -->
  <div class="bgimg-2 display-container opacity-min">
    <div class="display-middle">
      <span class="xxxlarge text-white wide">PORTFOLIO</span>
    </div>
  </div>

  <!-- Container (Portfolio Section) -->
  <div class="content container padding-64" id="portfolio">
    <h3 class="center">MY WORK</h3>
    <p class="center">
      <p> This website is using a <a href="http://flask.pocoo.org/">Flask</a> backend and for the frontend I customized a simple bootstrap theme.</p>
      <p> The demo runs a <a href=https://github.com/pytorch/pytorch>pytorch</a> deep-learning model, 
      <a href=https://arxiv.org/pdf/1712.00559.pdf>PNASNet-5</a> 
      from <a href=https://github.com/Cadene/pretrained-models.pytorch>this</a> great repository by Cadene.</p>
      <p> Here are some examples of what I do:</p>
    </p>
    <br>
    <!-- Responsive Grid. Four columns on tablets, laptops and desktops. Will stack on mobile devices/small screens (100% width) -->
    <div class="row-padding center">
      <div class="col m3">
        <img src="/static/images/work1.png" style="width:100%" onclick="onClick(this)" class="hover-opacity" alt="Training state of the art Machine Learning Models">
      </div>

      <div class="col m3">
        <img src="/static/images/work2.png" style="width:100%" onclick="onClick(this)" class="hover-opacity" alt="writing code for Kaggle Competitions">
      </div>

      <div class="col m3">
        <img src="/static/images/work3.png" style="width:100%" onclick="onClick(this)" class="hover-opacity" alt="visualizing/interpreting datasets">
      </div>

      <div class="col m3">
        <img src="/static/images/work4.png" style="width:100%" onclick="onClick(this)" class="hover-opacity" alt="Experiments with deep-learning">
      </div>
    </div>

    <div class="row-padding center section">
      <button class="button padding-large light-grey" style="margin-top:64px">
          <a href="{{ url_for('cv.show') }}" class="button"><i class="fas fa-portrait fb margin-right"></i>SHOW CV</a>
      </button>
    </div>
  </div>

  <!-- Modal for full size images on click-->
  <div id="modal01" class="modal black" onclick="this.style.display='none'">
    <span class="button large black display-topright" title="Close Modal Image"><i class="fa fa-remove"></i></span>
    <div class="modal-content animate-zoom center transparent padding-64">
      <img id="img01" class="image">
      <p id="caption" class="opacity large"></p>
    </div>
  </div>

  <!-- Third Parallax Image with Portfolio Text -->
  <div class="bgimg-3 display-container opacity-min">
    <div class="display-middle">
      <span class="xxxlarge text-white wide">CONTACT</span>
    </div>
  </div>

  <!-- Container (Contact Section) -->
  <div class="content container padding-64" id="contact">
    <h3 class="center">WHERE I WORK</h3>
    <p class="center"><em>I'd like to hear from you!</em></p>

    <div class="row padding-32 section">
      <div class="large margin-bottom">
        <i class="fa fa-map-marker fa-fw hover-text-black xlarge margin-right"></i> Wiener Neustadt, Austria<br>
        <i class="fa fa-envelope fa-fw hover-text-black xlarge margin-right"></i> Email: {{  mail  }}<br>
      </div>
      <p>Write me an e-mail or leave me a note:</p>

      {% from "_formhelpers.html" import render_field %}
      <form action="{{ url_for('email.send', _anchor='contact') }}" method="POST">
        <dl>
          <div class="col-mobile">
            {{ render_field(form.name, class='input border', placeholder="Name") }}
          </div>
          <div class="col-mobile">
            {{ render_field(form.email_field, class="input border", placeholder="Email Address") }}
          </div>
          <div class="row">
            <div class="margin-top">
              {{ render_field(form.message, class="input border", placeholder="Message") }}
            </div>
          </div> 
        </dl>
        <div class="row">
          <div class="col-mobile center padding-large">
            {% with messages = get_flashed_messages(with_categories=true) %}
              {% if messages %}
                {% for category, message in messages %}
                  <div class="message_flash {{ category }} padding-large">{{ message }}</div>
                {% endfor %}
              {% endif %}
            {% endwith %}
          </div>
          <div class="col-mobile center padding-large">
            <button class="button black right section" type="submit">
              <i class="fa fa-paper-plane"></i> SEND MESSAGE
            </button>
          </div>
        </div>
      </form>
    </div>
  </div>

  <!-- Footer -->
  <footer class="center black padding-32 opacity hover-opacity-decrease">
    <a href="#home" class="button light-grey"><i class="fa fa-arrow-up margin-right"></i>To the top</a>
    <p>{{  mail  }}</p>
    <p>I'm not on social media</p>
    <a href="https://github.com/DollofCuty" class="button light-grey"><i class="fab fa-github fb"></i></a>
    <a href="https://www.xing.com/profile/Christian_Unterrainer3/" class="button light-grey"><i class="fab fa-xing fb"></i></a>
    <a href="https://angel.co/christian-unterrainer" class="button light-grey"><i class="fab fa-angellist fb"></i></a>
    <a href="https://www.kaggle.com/dollofcuty" class="button light-grey"><i class="fab fa-kaggle fb"></i></a>
  </footer>
  {% endblock %}
</body>
</html>