<!DOCTYPE html>
<html>
 <body>
    {% extends "template.html" %}
    {% block content %}

    <!-- Container (IMAGE CLASSIFIER Section) -->
    <div class="content container padding-32" id="contact">
      <h3 class="center">IMAGE CLASSIFIER</h3>

      <p class="center hide-small"><em>Just choose an image to run inference of the <a href=https://arxiv.org/pdf/1712.00559.pdf>PNASNet-5</a> 
        model trained on <a href="http://www.image-net.org/">image-net</a>!</em></p>

      <p class="center hide-medium hide-large"><em>Just choose an image to run the model!</em></p>

      <form class="center" action="{{ url_for('upload.upload_file') }}" method="POST" enctype=multipart/form-data>
        <p><input type=file name=file>
           <input type=submit> 
      </form>

      {% if error %}
      <p class="center"><em>Oops, there was an {{error}}</em></p>
      {% endif %}

      {% if filename %} 

      {% if prediction %} 
      <div class="center padding-small hide-small">
        <h3>{{prediction[0]}} with {{confidence[0]}}% confidence</h3>
        <h4>{{prediction[1]}} with {{confidence[1]}}% confidence</h4>
        <h4>{{prediction[2]}} with {{confidence[2]}}% confidence</h4>
      </div>
      <div class="center hide-medium hide-large">
        <h3>{{prediction[0]}} with {{confidence[0]}}% confidence</h3>
        <h4>{{prediction[1]}} with {{confidence[1]}}% confidence</h4>
      </div>
      {% endif %}

      <div class="center padding-16 hide-small">
        <button class="button button center padding-large black xlarge wide animate-opacity">
          <a href="{{ url_for('image_classifier.analyze', filename=filename) }}" class="button">ANALYZE</a>
        </button>
      </div>

      <div class="center padding-small hide-medium hide-large">
        <button class="button button center padding-medium black small wide animate-opacity">
          <a href="{{ url_for('image_classifier.analyze', filename=filename) }}" class="button">ANALYZE</a>
        </button>
      </div>

      <div class="center hide-small">
        <img src="{{ url_for('upload.send_file', filename=filename) }}" class="image" style="max-height:400px">
      </div>

      <div class="center hide-medium hide-large">
        <img src="{{ url_for('upload.send_file', filename=filename) }}" class="image" style="max-height:250px">
      </div>
      {% endif %}

    </div>
  </body>

  <!-- Footer -->
  <footer class="footer black opacity hover-opacity-decrease center hide-small">
    <a href="{{ url_for('home') }}" class="button light-grey margin-top"><i class="fas fa-arrow-left margin-right"></i>Back to the Website</a>
    <p>chr.unterrainer@gmail.com</p>
    <a href="https://github.com/DollofCuty" class="button light-grey"><i class="fab fa-github fb"></i></a>
    <a href="https://www.xing.com/profile/Christian_Unterrainer3/" class="button light-grey"><i class="fab fa-xing fb"></i></a>
    <a href="https://angel.co/christian-unterrainer" class="button light-grey"><i class="fab fa-angellist fb"></i></a>
    <a href="https://www.kaggle.com/dollofcuty" class="button light-grey"><i class="fab fa-kaggle fb"></i></a>
  </footer>
  
  <!-- Footer mobile -->
  <footer class="footer black opacity hover-opacity-decrease center hide-medium hide-large">
    <a href="{{ url_for('home') }}" class="button light-grey margin-top"><i class="fas fa-arrow-left margin-right"></i>Back to the Website</a>
    <p>chr.unterrainer@gmail.com</p>
    <a href="https://github.com/DollofCuty" class="button light-grey"><i class="fab fa-github fb"></i></a>
    <a href="https://www.xing.com/profile/Christian_Unterrainer3/" class="button light-grey"><i class="fab fa-xing fb"></i></a>
    <a href="https://angel.co/christian-unterrainer" class="button light-grey"><i class="fab fa-angellist fb"></i></a>
    <a href="https://www.kaggle.com/dollofcuty" class="button light-grey"><i class="fab fa-kaggle fb"></i></a>
  </footer>

  {% endblock %}
</html>
